
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Poppins', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.banner{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 3em 0 4em;
}
.agileinfo-social-grids{
	float:left;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #333;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook{
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk{
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-social-grids ul li:nth-child(2){
    margin: 0 2em;
}
.agileinfo-social-grids ul li:nth-child(3){
	margin:0 2em 0 0;
}
.w3layouts-banner-right {
    float: right;
}
.w3layouts-banner-right h1{
	margin: .2em 0 0;
}
.w3layouts-banner-right h1 a{
    color: #FFFFFF;
    font-size: 1.5em;
    text-decoration: none;
    width: 100px;
    height: 100px;
    border: solid 1px #FFFFFF;
    padding: .3em;
    vertical-align: middle;
    text-align: center;
}
.w3layouts-banner-right h1 a span{
    display: block;
    font-size: .4em;
    letter-spacing: 6px;
}
.banner-bottom {
    margin: 4em 0 0 0;
}
.w3layouts-banner-info h4{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.w3layouts-banner-info h4 span{
	display:block;
    font-weight: 600;
    margin: .3em 0;
}
.w3layouts-banner-info p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 2em 0 0 0;
    width: 44%;
    font-family: 'Roboto', sans-serif;
}
.w3-button a{
    color: #FFFFFF;
    font-size: .9em;
    padding: .5em 1em;
    border: solid 1px #FFFFFF;
    text-decoration: none;
    border-radius: 0;
    margin: 0;
}
.w3-button a:hover{
    color: #000000;
}
.w3-button {
    position: relative;
    margin: 2em 0 0 0;
    z-index: 1;
}
/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: .5em 1em;
    display: inline-block;
    margin: 15px 30px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1b */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}
.btn-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFC107;
}

.btn-1b:hover,
.btn-1b:active {
	color: #0e83cd;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}
/*-- top-nav --*/
.w3-nav {
    background: rgba(255, 255, 255, 0.15);
    padding: 1em 0;
	margin:4em 0 0 0;
}
.top-nav {
    margin:0;
    text-align: center;
    padding: 0;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 4em;
    float: none;
}
.top-nav ul li:first-child{
	margin-left:0;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    border-right: solid 1px #EFEFEF;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.navbar-default{
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-nav {
    float: none;
}
.top-nav ul li a{
    color: #fff !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    letter-spacing: 1px;
}
.top-nav ul li a:hover{
    color: #FFC107 !important;
}
.top-nav ul li a.active{
    color: #FFC107 !important;
}
/*-- about --*/
.about,.services,.works,.testimonial,.team,.blog,.contact,.footer{
	padding:4em 0;
}
.w3ls-heading{
	text-align:center;
}
.w3ls-heading h2,.w3ls-heading h3{
    color: #3a4d60;
    font-size: 3em;
    margin: 0;
}
.w3ls-heading p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.agileits-about-grids{
	margin:4em 0 0 0;
}
.agileits-about-grid p{
	font-size:.9em;
	margin:0;
	line-height:1.8em;
	color:#999999;
}
.agileinfo-about-slide {
    margin: 4em 0 0 0;
}
.about-grid-info img {
    width: 100%;
}
.about-grid-caption h4{
	color: #FFFFFF;
    font-size: 2em;
    margin: .5em 0 0 0;
}
.about-grid-caption p{
    color: #c5c5c5;
    font-size: .9em;
    margin: 0;
}
.about-grid-caption {
    background: rgba(0, 0, 0, 0.61);
    padding: 6em 1em 1em 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 266px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.about-grid-info:hover .about-grid-caption{
    bottom: 0%;
}
/*-- //about --*/
/*-- services --*/
.services{
    background: #f4f4f4;
}
.wthree-services-grids{
	margin:4em 0 0 0;
}
.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    border: dashed 1px #3a4d60;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1.5em;
}
.icon-right{
    float: left;
    width: 80%;
}
.icon-left i.fa.fa-cog,.icon-left i.fa.fa-heart,.icon-left i.fa.fa-paper-plane,.icon-left i.fa.fa-user,.icon-left i.fa.fa-thumbs-up,.icon-left i.fa.fa-bell{
    color: #03A9F4;
    font-size: 2em;
}
.icon-right h5{
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
}
.icon-right p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;	
}
.agileits-icon-grid:nth-child(2){
	margin:2em 0;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #03a9f4;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.agileits-icon-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agileits-icon-grid:hover i.fa.fa-cog,.agileits-icon-grid:hover i.fa.fa-heart,.agileits-icon-grid:hover i.fa.fa-paper-plane,.agileits-icon-grid:hover i.fa.fa-user,.agileits-icon-grid:hover i.fa.fa-thumbs-up,.agileits-icon-grid:hover i.fa.fa-bell{
	color:#FFFFFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;	
}
/*-- //services --*/
/*-- works --*/
.works-heading h3{
	text-align:left;
}
.works-heading h5{
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0 0;
    text-align: left;
    line-height: 1.5em;
}
.works-info p{
	color:#999999;
	line-height:1.8em;
	margin:1em 0 0 0;
	font-size:.9em;
}
.works-info p span{
    display: block;
    margin: 1em 0 0 0;
}
.gallery-top-grids {
    margin: 4em 0 0 0;
}
.gallery-grid img {
    width: 100%;
    cursor: pointer;
}
.gallery-top-grids:nth-child(2),.gallery-top-grids:nth-child(3){
	margin-top:0;
}
.gallery-grids-left {
    padding: 0;
}
.gallery-grid{
	position:relative;
	overflow: hidden;
}
.gallery-grid:hover .captn {
    bottom: 0%;
}
.captn {
    background: rgba(0, 0, 0, 0.62);
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -100%;
    text-align: center;
    width: 184px;
    height: 121px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.captn h4 {
    font-size: 1.5em;
    color: #fff;
    margin: 1em 0 0 0;
}
.captn p {
	margin: 0.5em 0 0 0;
    color: #c5c5c5;
    font-size: .875em;
}
/*-- //works --*/
/*-- testimonial --*/
.agile-testimonial-heading h3{
	color:#FFFFFF;
}
.agile-testimonial-heading p{
	color:#FFFFFF;
}
.testimonial{
	background:url(../images/4.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.w3-agile-testimonial {
    width: 70%;
    margin: 0 auto;
}
.testimonial-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.testimonial-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 2em 0 0 0;
}
.testimonial-img img{
	width:100%;
	border-radius:50%;
}
.wthree-testimonial-grid {
    margin: 4em 0 0 0;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 100px;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent url("../images/arrows.png") no-repeat right top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 150px;
    left: 47%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: inline-block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
    font-size: 0;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.38);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
/*-- //slider --*/
/*-- //testimonial --*/
/*-- team --*/
.agileinfo-team-grids{
	margin:4em 0 0 0;
}
.wthree-team-grid{
    position: relative;
    overflow: hidden;
}
.wthree-team-grid img{
	width:100%;
}
.wthree-team-grid h4 {
    font-size: 1em;
    color: #00BCD4;
    margin: 1em 0 0;
    font-weight: 600;
}
.wthree-team-grid p {
    margin: 0.3em 0 .8em;
    color: #999999;
    font-size: .9em;
}
.team-social-grids{
    background: rgba(255, 193, 7, 0.73);
    padding: 1em;
    position: absolute;
    top: -100%;
    text-align: center;
    width: 255px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.wthree-team-grid:hover .team-social-grids {
    top: 50%;
}
.team-social-grids ul {
    padding: 0;
    margin: 0;
}
.team-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.team-social-grids ul li a {
    text-align: center;
}
.team-social-grids ul li a i.fa.fa-facebook, .team-social-grids ul li a i.fa.fa-twitter, .team-social-grids ul li a i.fa.fa-rss, .team-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-vk:hover{
	border: solid 2px #45668e;
	background:#45668e;
	color: #FFFFFF;
}
/*-- //team --*/
/*-- blog --*/
.blog{
    background: #e8f8ff;
}
.w3-agile-blog-grids{
	margin:4em 0 0 0;
}
.w3-agile-blog-left a img{
	width:100%;
}
.blog-left-left {
	float: left;
    width: 80px;
    height: 80px;
    background: #FFC107;
    text-align: center;
    padding: 1.3em 0 0 0;
}
i.fa.fa-pencil {
    color: #FFFFFF;
    font-size: 2.5em;
}
.blog-left-right-top{
    float: left;
    width: 72%;
    margin-left: 1em;
}
.blog-left-right-top h4 {
    color: #000000;
    font-size: 1em;
    margin: 0 0 .5em 0;
    font-weight: 600;
    line-height: 1.4em;
}
.blog-left-right-top h4 a {
    text-decoration: none;
    color: #000000;
}
.blog-left-right-top p {
    margin: 0 0 1em;
    font-size: .9em;
    color: #333333;
}
.blog-left-right-top p a {
    color: #03A9F4;
    text-decoration: none;
}
.blog-left-right-top p a:hover{
	color:#000000;
}
.blog-left-right-top h4 a:hover{
    color: #03A9F4;
}
.w3-agile-blog-right-info p{
    margin: 1em 0 2em 0;
    font-size: .9em;
    color: #333333;
    line-height: 1.8em;
}
.w3-agile-blog-right-info a{
    color: #000000;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 1em;
    border: solid 1px #000;
}
.w3-agile-blog-right-info a:hover{
	background: #FFC107;
    color: #FFFFFF;
    border: solid 1px #FFC107;	
}
.w3-agile-blog-grid:nth-child(2){
	margin:2em 0 0 0;
}
/*-- //blog --*/
/*-- contact --*/
.contact-grids {
    margin: 4em 0 0 0;
}
.contact-info-left {
	float:left;
	width:5%;
}
i.fa.fa-map-marker,i.fa.fa-phone-square,i.fa.fa-envelope {
    color: #03A9F4;
    vertical-align: top;
    font-size: 1em;
}
.contact-info:nth-child(2){
	margin:2em 0;
}
.contact-info-right {
    float: left;
    margin: 0 0 0 1em;
}
.contact-info-right h5{
    color: #000000;
    font-size: 1em;
    margin: 0 0 .5em 0;
    font-weight: 600;
}
.contact-info-right p{
    color: #999999;
    line-height: 1.8em;
    margin: 1em 0 0 0;
    font-size: .9em;
}
.contact-info-right ul{
	padding:0;
	margin:0;
}
.contact-info-right ul li{
	display:block;
	color: #999999;
    font-size: .9em;
}
.contact-info-right ul li a{
	color:#999999;
	text-decoration:none;
}
.contact-info-right ul li a:hover{
	color:#03A9F4;
}
.contact input[type="text"],.contact input[type="email"] {
    width: 47.7%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.contact-form textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: .9em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #999;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact-form input.email {
    margin: 0 0 0 1.8em;
}
.contact-form input[type="submit"] {
    outline: none;
    color: #999999;
    padding: 0.6em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: none;
    transition: 0.5s all;
    border: 1px solid #999999;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
    background: none;
    color: #FFFFFF;
    background: #03A9F4;
    border: 1px solid #03A9F4;
}
/*-- //contact --*/
/*-- footer --*/
.footer{
    background: #333;
}
.social {
    margin: 1em 0 0 0;
    text-align: center;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook,.social ul li a i.fa.fa-twitter,.social ul li a i.fa.fa-rss,.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    background: none;
    line-height: 37px;
    border: solid 2px #FFF;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 37px;
	background: #3b5998;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 37px;
	background: #1da1f2;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 37px;
	background: #f26522;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 37px;
	background: #45668e;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.border {
	border-bottom: solid 1px #FFFFFF;
    width: 6%;
    margin: 2em auto;
}
.agileits-w3layouts-copyright p{
    color: #FFFFFF;
    font-size: .9em;
    margin:0;
    text-align: center;
}
.agileits-w3layouts-copyright p a{
	color:#000000;
	text-decoration:none;
}
.agileits-w3layouts-copyright p a:hover{
	color:#FFFFFF;
}
/*-- //footer --*/
/*-- single --*/
.single{
	padding:4em 0;
	background:#FFFFFF;
}
.single-nav h2{
    margin: 0;
    font-size: 1em;
}
.single-nav h2 a{
	color: #fff !important;
    margin: 0;
    text-decoration: none;
    padding: 0;
    letter-spacing: 1px;
}
.single-nav a:hover{
	color: #FFC107 !important;
}
.agileits-single-img img{
	width:100%;
}
.agileits-single-img h4{
    color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileinfo-single-icons{
	margin:2em 0;
}
.agileinfo-single-icons ul{
	padding:0;
	margin:0;
}
.agileinfo-single-icons ul li{
    display: inline-block;
    color: #999999;
    font-size: .9em;
    margin-right: 1.5em;
}
.agileinfo-single-icons ul li:last-child{
	margin-right:0;
}
.agileinfo-single-icons ul li a{
    color: #999999;
	text-decoration:none;
}
.agileinfo-single-icons ul li span{
    margin-left: .5em;
}
.agileinfo-single-icons ul li span:hover{
    color: #FFC107;
}
.agileits-single-img p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
/*-- comments --*/
.agileits_three_comments{
    margin: 4em 0;
}
.agileits_three_comment_grid{
    padding:3em 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}
.agileits_tom {
	float: left;
    border: 1px dotted #353535;
    padding: .5em;
    width: 10%;
}
.agileits_tom  img{
	width:100%;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
	background: none;
    border: solid 1px #000000;
    padding: .5em 2em;
    color: #000;
    font-size: .9em;
    text-decoration: none;
}
.reply a:hover{
	color: #ffffff;
    background: #03A9F4;
    border: solid 1px #03A9F4;
}
.agileits_tom_right p.lorem {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.agileits_three_comments h3,.w3_leave_comment h3{
	text-align: left;
    color: #3a4d60;
    font-size: 1.5em;
    margin: 0;
}
.hardy h4 {
    font-size: 1em;
    color: #000000;
    margin: 0;
    font-weight: 600;
}
.hardy p {
    color: #999999;
    margin: .5em 0 0;
    font-size: .9em;
}
.agileits_three_comment_grid:nth-child(2){
    margin:4em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
}
.agileits_three_comment_grid1{
	padding-left:5em;
}
/*-- //comments --*/
/*-- leave-comments --*/
.w3_leave_comment {
    width: 70%;
}
.w3_leave_comment form {
    margin: 3em 0 0;
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    background: none;
    border: 1px solid #999999;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: .9em;
    color: #999999;
}
.w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    margin: 1em 0;
}
.w3_leave_comment textarea {
    min-height: 200px;
    resize: none;
}
.w3_leave_comment input[type="submit"] {
    border: solid 1px #999999;
    color: #000000;
    font-size: .9em;
    padding: .5em 2em;
    text-decoration: none;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3_leave_comment input[type="submit"]:hover {
    border: solid 1px #03a9f4;
    color: #FFFFFF;
    background: #03a9f4;
}
/*-- //leave-comments --*/
/*-- //single --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.icon-right {
		width: 78%;
	}
	.captn {
		width: 149px;
		height: 99px;
	}
	.captn h4 {
		margin: .5em 0 0 0;
	}
	.about-grid-caption {
		height: 218px;
	}
	.about-grid-caption {
		padding: 4em 1em 1em 1em;
	}
	.team-social-grids {
		width: 205px;
	}
}
@media(max-width:1024px){
	.top-nav ul li {
		margin: 0 2em;
	}
	.w3-agile-blog-grid:nth-child(2) {
		margin: 3em 0 0 0;
	}
}
@media(max-width:991px){
	.w3layouts-banner-info p {
		width: 55%;
	}
	.agileits-about-grid:nth-child(2) {
		margin: 1em 0 0 0;
	}
	.about-grid-caption {
		padding: 2em 1em 1em 1em;
		height: 168px;
	}
	.w3ls-about-left:nth-child(2) {
		margin: 2em 0;
	}
	.captn {
		width: 173px;
		height: 115px;
	}
	.w3-agile-testimonial {
		width: 100%;
	}
	.testimonial-info p {
		margin: 0em 0 0 0;
	}
	.wthree-team-grid {
		float: left;
		width: 50%;
	}
	.wthree-team-grid:nth-child(3),.wthree-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.team-social-grids {
		width: 330px;
	}
	.w3-agile-blog-right-top {
		margin: 1em 0 0 0;
	}
	.contact-form {
		margin: 1em 0 0 0;
	}
}
@media(max-width:768px){
	.about-grid-caption {
		padding: 5em 1em 1em 1em;
		height: 240px;
	}
	.border {
		width: 10%;
	}
}
@media(max-width:736px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #e7e7e7;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.74);
	}
	.gallery-grids-left {
	    width: 50%;
		float: left;
	}
	.captn {
		width: 330px;
		height: 220px;
	}
	.captn h4 {
		margin: 2.5em 0 0 0;
	}
	.testimonial-img {
		width: 20%;
		margin: 0 auto 1em;
	}
	.testimonial-info {
		text-align: center;
	}
	.callbacks_tabs {
		top: 252px;
		left: 45%;
	}
	.team-social-grids {
		width: 314px;
	}
	.top-nav ul li {
		margin: 1em 0;
		display: block;
	}
	.navbar-toggle {
		float: none;
		margin-right: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.captn {
		height: 219px;
	}
}
@media(max-width:667px){
	.w3layouts-banner-info h4 {
		font-size: 2em;
	}
	.w3layouts-banner-info p {
		width: 65%;
	}
	.w3-button {
		margin: 2em 0 1em 0;
	}
	.w3-nav {
		margin: 2em 0 0 0;
	}
	.banner {
		padding: 2em 0;
	}
	.w3ls-heading p {
		letter-spacing: 2px;
	}
	.about-grid-caption {
		height: 216px;
	}
	.captn {
		height: 196px;
	}
	.testimonial-info h5 {
		margin: 1em 0 0 0;
	}
	.team-social-grids {
		width: 280px;
	}
}
@media(max-width:640px){
	.about-grid-caption {
		height: 207px;
	}
	.about-grid-caption h4 {
		margin: 0em 0 0 0;
	}
	.captn {
		height: 187px;
		width: 100%;
	}
	.team-social-grids {
		width: 266px;
	}
}
@media(max-width:600px){
	.captn {
		height: 174px;
	}
	.about-grid-caption {
		height: 193px;
	}
	.team-social-grids {
		width: 246px;
	}
	.w3ls-heading p {
		letter-spacing: 1px;
		font-size: .8em;
	}
}
@media(max-width:568px){
	.about-grid-caption {
		height: 183px;
	}
	.captn {
		height: 163px;
	}
	.captn h4 {
		margin: 1.5em 0 0 0;
	}
	.callbacks_tabs {
		top: 237px;
		left: 44%;
	}
	.team-social-grids {
		width: 230px;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 100%;
	}
	.contact-form input.email {
		margin: 0 0 1.5em 0;
	}
	.agileits_tom_right {
		margin-left: 2em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 3em;
	}
	.reply {
		margin-left: 6em;
	}
}
@media(max-width:480px){
	.w3layouts-banner-info h4 span {
		display: inline;
	}
	.w3layouts-banner-right h1 a {
		font-size: 1em;
	}
	.w3layouts-banner-info p {
		width: 95%;
	}
	.flex-direction-nav a {
		top: 82% !important;
	}
	.flex-direction-nav .flex-prev {
		right: 10% !important;
	}
	.w3-nav {
		margin: 1em 0 0 0;
	}
	.w3-nav {
		padding: .5em 0;
	}
	.about, .services, .works, .testimonial, .team, .blog, .contact, .footer {
		padding: 2em 0;
	}
	.w3ls-heading h2, .w3ls-heading h3 {
		font-size: 2em;
	}
	.agileits-about-grids {
		margin: 2em 0 0 0;
	}
	.icon-left {
		float: none;
		margin: 0 0 1em 0;
	}
	.icon-right {
		width: 100%;
		float: none;
	}
	.agileits-icon-grid {
		text-align: center;
	}
	.captn {
		height: 134px;
	}
	.captn h4 {
		margin: 1em 0 0 0;
	}
	.testimonial-img {
		width: 25%;
	}
	.testimonial {
		padding: 2em 0 3em;
	}
	.callbacks_tabs {
		top: 251px;
		left: 41%;
	}
	.team-social-grids {
		width: 186px;
	}
	.team-social-grids ul li {
		margin: 0 .2em 0 0;
	}
	.wthree-testimonial-grid {
		margin: 2em 0 0 0;
	}
	.gallery-top-grids {
		margin: 2em 0 0 0;
	}
	.wthree-services-grids {
		margin: 2em 0 0 0;
	}
	.agileinfo-about-slide {
		margin: 2em 0 0 0;
	}
	.agileinfo-team-grids {
		margin: 2em 0 0 0;
	}
	.w3-agile-blog-grids {
		margin: 2em 0 0 0;
	}
	.contact-grids {
		margin: 2em 0 0 0;
	}
	.single {
		padding: 2em 0;
	}
	.agileits_three_comments {
		margin: 2em 0;
	}
	.w3_leave_comment {
		width: 100%;
	}
	.agileits_tom {
		width: 16%;
	}
	.reply {
		margin-left: 4em;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
}
@media(max-width:414px){
	.about-grid-caption {
			height: 244px;
	}
	.captn {
		height: 112px;
	}
	.callbacks_tabs {
		top: 260px;
	}
	.team-social-grids {
		width: 154px;
		padding: .5em;
	}
	.team-social-grids ul li {
		margin: 0 0em 0 0;
	}
	.team-social-grids ul li:nth-child(4){
		margin:0;
	}
	i.fa.fa-pencil {
		color: #FFFFFF;
		font-size: 1.5em;
	}
	.blog-left-left {
		width: 70px;
		height: 70px;
	}
}
@media(max-width:384px){
	.about-grid-caption {
		height: 235px;
	}
	.captn {
		height: 102px;
	}
	.captn h4 {
		margin: .5em 0 0 0;
	}
	.team-social-grids ul li a i.fa.fa-facebook, .team-social-grids ul li a i.fa.fa-twitter, .team-social-grids ul li a i.fa.fa-rss, .team-social-grids ul li a i.fa.fa-vk {
		height: 25px;
		width: 25px;
		line-height: 23px;
	}
	.team-social-grids {
		width: 139px;
	}
	.testimonial-info p {
		margin: 0 auto;
		width: 88%;
	}
	.callbacks_tabs {
		top: 301px;
		left: 40%;
	}
	.w3layouts-banner-info h4 {
		font-size: 1.5em;
	}
	.blog-left-right-top {
		width: 76%;
	}
	.blog-left-left {
		width: 55px;
		height: 55px;
		padding: 1em 0 0 0;
	}
	.reply {
		margin-left: 1em;
	}
	.reply a {
		padding: .5em 1em;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 2em;
	}
}
@media(max-width:375px){
	.about-grid-caption {
		height: 229px;
	}
	.captn {
		height: 99px;
	}
	.wthree-team-grid {
		float: none;
		width: 100%;
	}
	.team-social-grids {
		width: 297px;
		padding: 1em;
	}
	.wthree-team-grid:nth-child(2),.wthree-team-grid:nth-child(3), .wthree-team-grid:nth-child(4) {
		margin: 1em 0 0 0;
	}
}
@media(max-width:320px){
	.w3layouts-banner-info h4 {
		font-size: 1.3em;
	}
	.banner-bottom {
		margin: 3em 0 0 0;
	}
	.w3layouts-banner-info p {
		width: 100%;
	}
	.w3layouts-banner-info p {
		margin: 1em 0 0 0;
	}
	.w3-button {
		margin: 1em 0 1em 0;
	}
	.agileinfo-social-grids ul li:nth-child(2) {
		margin: 0 1em;
	}
	.agileinfo-social-grids ul li:nth-child(3) {
		margin: 0 1em 0 0;
	}
	.w3layouts-banner-right h1 a {
		font-size: .8em;
	}
	.banner {
		padding: 1em 0;
	}
	.about-grid-caption {
		height: 191px;
	}
	.about-grid-caption {
		padding: 4.5em 1em 1em 1em;
	}
	.captn {
		height: 81px;
	}
	.captn h4 {
		font-size: 1.3em;
		margin: 0.2em 0 0 0;
	}
	.captn p {
		margin: 0em 0 0 0;
	}
	.testimonial-img {
		width: 40%;
	}
	.testimonial-info p {
		width: 96%;
	}
	.callbacks_tabs {
		top: 346px;
		left: 39%;
	}
	.w3ls-heading p {
		font-size: .7em;
	}
	.team-social-grids {
		width: 243px;
	}
	.blog-left-left {
		width: 42px;
		height: 42px;
		padding: .5em 0 0 0;
	}
	.contact-info-right {
		width: 87%;
	}
	.contact-form textarea {
		min-height: 8em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 0em;
	}
	.agileits_tom_right {
		margin-left: .5em;
		width: 74%;
	}
	.agileits_tom {
		width: 22%;
	}
	.w3_leave_comment textarea {
		min-height: 150px;
	}
}
/*-- //responsive --*/